[submodule "dags/ethereum-etl-airflow"]
	path = dags/ethereum-etl-airflow
	url = https://github.com/iter-io/ethereum-etl-airflow.git
[submodule "dags/bitcoin-etl-airflow"]
	path = dags/bitcoin-etl-airflow
	url = git@github.com:iter-io/bitcoin-etl-airflow.git
